.login-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  padding: 24px;
  max-width: 408px;
}

input {
  margin-top: 8px;
  width: 360px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #808080;
}

label {
  color: #2E2F42;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

button {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border-style: none;
  background-color: #4E75FF;
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin-top: 8px;
}